/* Defaults */
:root {
	--font-family: -apple-system, system-ui, sans-serif;
	--font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New, Courier, monospace;
}

/* Theme colors */
:root {
	--text-color: #4f3829;
	--text-color-link: #45707a;
	--text-color-link-active: #c14a4a;
	--text-color-link-visited: #945e80;

	--background-color: #f9f5d7;
}

@media (prefers-color-scheme: dark) {
	:root {
    --text-color: #ddc7a1;
		--text-color-link: #7daea3;
		--text-color-link-active: #ea6962;
		--text-color-link-visited: #d3869b;

		--background-color: #1d2021;
	}
}


html {
  padding: 0;
	margin: 0 auto;
	max-width: 40em;
	font-family: var(--font-family);
	background-color: var(--background-color);
	color: var(--text-color);
}

p {
	line-height: 1.5;
}

li {
	line-height: 1.5;
}

a[href] {
	color: var(--text-color-link);
}
a[href]:visited {
	color: var(--text-color-link-visited);
}
a[href]:hover,
a[href]:active {
	color: var(--text-color-link-active);
}

main {
	padding: 1rem 0;
}
main :first-child {
	margin-top: 0;
}

header {
	border-bottom: 1px dashed;
}

table {
	margin: 1em 0;
}
table td,
table th {
	padding-right: 1em;
}

code {
	font-family: var(--font-family-monospace);
}
code {
	word-break: break-all;
}

/* Header */
header {
	display: flex;
	gap: 0 5em;
	flex-wrap: wrap;
	align-items: center;
  margin: 0;
	padding: 0.5em 0.5em;
  justify-content: center;
}

.title {
	display: flex;
	gap: 1em .5em;
	flex-wrap: wrap;
	line-height: 1.0;
	font-size: 1.2em;
	font-weight: 700;
  margin: 0;
  padding: 0;
	align-items: center;
}

/* Nav */
nav {
	gap: 1em 1em;
	display: flex;
	margin: 0;
	padding: 1em 0;
}

.nav-item {
	display: inline-block;
}
.nav-item a[href]:not(:hover) {
	text-decoration: none;
}
.nav a[href][aria-current="page"] {
	text-decoration: underline;
}

/* Tags */
.post-tag {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-transform: capitalize;
	font-style: italic;
}
.postlist-item > .post-tag {
	align-self: center;
}

/* aside { */
/*     width: 40%; */
/*     padding-left: 0.5rem; */
/*     margin-left: 0.5rem; */
/*     float: right; */
/*     box-shadow: inset 5px 0 5px -5px #29627e; */
/*     font-style: italic; */
/*     color: #29627e; */
/* } */
