/* Posts list */
.postlist {
	padding: 0;
	padding-left: 1.5rem;
}
.postlist-item {
	margin-bottom: 1em;
}
.postlist-date {
  display: block;
	font-size: 0.8125em; /* 13px /16 */
	color: var(--text-color);
	word-spacing: -0.5px;
}
.postlist-link {
  display: block;
	font-size: 1.1875em; /* 19px /16 */
	font-weight: 700;
	text-underline-position: from-font;
	text-underline-offset: 0;
	text-decoration-thickness: 1px;
	line-height: 1.5;
}
