/* Posts list */
.postlist {
	list-style: none;
	padding: 0;
}
.postlist-item {
	margin-bottom: 4em;
}
.postlist-date {
  display: block;
	font-size: 0.8125em; /* 13px /16 */
	color: var(--text-color);
	word-spacing: -0.5px;
}
.postlist-link {
  display: block;
	font-size: 1.1875em; /* 19px /16 */
	font-weight: 700;
	text-underline-position: from-font;
	text-underline-offset: 0;
	text-decoration-thickness: 1px;
	line-height: 1.5;
}

.postlist-item > picture > img {
  margin-top: 0.5em;
  object-fit: contain;
  width: 382px;
  height: 200px;
}
