---
type: page
meta:
  language: en-US
eleventyComputed:
  meta:
    site:
      name: "{{ metadata.title }}"
      description: "{{ metadata.description }}"
      url: "{{ metadata.url }}"
    title: "{{ title or metadata.title }}"
    description: "{{ description or metadata.description }}"
    image:
      src: https://example.com/images/page.png
---
<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
    {% jsonLdScript meta, type, tags %}
    {% metagen
      title=meta.title,
      desc=meta.desc,
      name=author or metadata.author.name,
      generator="eleventy",
      url=meta.site.url,
      type=type,
      img=image,
      img_alt=alt,
      twitter_card_type=type,
      twitter_handle=twitter
    %}
		<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
		<link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">
		<link rel="stylesheet" href="/css/index.css">
		<link rel="stylesheet" href="/css/twoslash.css">
		<link rel="stylesheet" href="/css/header-anchor.css">
		<link rel="stylesheet" href="/css/post.css">
		<link rel="stylesheet" href="/css/postlist.css">
	</head>
	<body>
		<header>
			<p class="home-link">{{ metadata.title }}</p>
			<nav>
				{%- for entry in collections.all | eleventyNavigation %}
        <a class="nav-item" href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a>
				{%- endfor %}
        <a rel="alternate" href="/feed/feed.xml" type="application/atom+xml">RSS</a>
			</nav>
		</header>
		<main>
			{{ content | safe }}
		</main>
	</body>
</html>
