---
meta:
  language: en-US
eleventyComputed:
  meta:
    site:
      name: "{{ metadata.title }}"
      description: "{{ metadata.description }}"
      url: "{{ metadata.url }}"
    title: "{{ title or metadata.title }}"
    description: "{{ description or metadata.description }}"
    url: "{{metadata.url}}{{ page.url }}"
    author:
      name: "{{ author.name or metadata.author.name }}"
      url: "{{ author.url or metadata.author.url }}"
    image:
      src: https://example.com/images/page.png
---
<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
    {% metagen
      title=meta.title,
      desc=meta.description,
      name=meta.author.name,
      generator="eleventy",
      url=meta.url,
      type=type,
      img=image,
      img_alt=alt,
      twitter_card_type=type,
      twitter_handle=twitter
    %}
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@graph": [
        {
          "@type": "WebSite",
          "@id": "{{ meta.site.url }}#website",
          "url": "{{ meta.site.url }}",
          "name": "{{ meta.site.title }}",
          "description": "{{ meta.site.description }}",
          "inLanguage": "en-US"
        }{% if type == 'post' %},
        {
          "@type": "BlogPosting",
          "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "{{ meta.url }}"
          },
          "url": "{{ meta.url }}",
          "isPartOf": {
            "@id": "{{ meta.site.url }}#website"
          },
          "headline": "{{ meta.title }}",
          "description": "{{ meta.description }}",
          "inLanguage": "{{ meta.language }}",
          "author": {
            "@type": "Person",
            "name": "{{ meta.author.name }}",
            "url": "{{ meta.author.url }}"
          },
          "keywords": "{{ tags }}",{% if meta.modified %}
          "dateModified": "{{ meta.modified }}",
          {% endif %}
          "datePublished": "{{ meta.published }}"
        }{% endif %}
      ]
    }
    </script>
		<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
		<link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">
		<link rel="stylesheet" href="/css/index.css">
		<link rel="stylesheet" href="/css/twoslash.css">
		<link rel="stylesheet" href="/css/header-anchor.css">
		<link rel="stylesheet" href="/css/post.css">
		<link rel="stylesheet" href="/css/postlist.css">
	</head>
	<body>
		<header>
      <div class="title">
        <img src="/img/meruem.png" alt="blog logo" height=50px>
        <p>{{ metadata.title }}</p>
      </div>
			<nav>
				{%- for entry in collections.all | eleventyNavigation %}
        <a class="nav-item" href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a>
				{%- endfor %}
        <a class="nav-item" rel="alternate" href="/feed/feed.xml" type="application/atom+xml">RSS</a>
			</nav>
		</header>
		<main>
			{{ content | safe }}
		</main>
	</body>
</html>
