<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">
		<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
		<link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">
		<meta name="generator" content="{{ eleventy.generator }}">
		<link rel="stylesheet" href="/css/index.css">
		<link rel="stylesheet" href="/css/twoslash.css">
		<link rel="stylesheet" href="/css/header-anchor.css">
		<link rel="stylesheet" href="/css/post.css">
		<link rel="stylesheet" href="/css/postlist.css">
	</head>
	<body>
		<header>
			<p class="home-link">{{ metadata.title }}</p>
			<nav>
				{%- for entry in collections.all | eleventyNavigation %}
        <a class="nav-item" href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a>
				{%- endfor %}
			</nav>
		</header>
		<main>
			{{ content | safe }}
		</main>
	</body>
</html>
