---
layout: layouts/base.njk
type: post
eleventyComputed:
  meta:
    published: "{{ date | iso8601 }}"
    modified: "{% if updateDate %}{{ updateDate | iso8601 }}{% endif %}"
---
<h1>{{ title }}</h1>
<ul class="post-metadata">
	<li>Posted on <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></li>
	{%- for tag in tags | filterTagList %}
	{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
	<li><a href="{{ tagUrl }}" class="post-tag">#{{ tag }}</a>{%- if not loop.last %}, {% endif %}</li>
	{%- endfor %}
</ul>

{% if showToc and content | toc %}
  <aside>
    {{ content | toc | safe }}
  </aside>
{% endif %}


{{ content | safe }}

