<% site.posts.sort('date', 'desc').forEach(function(post){ %>
<div>
  <div>
    <p><%- full_date(post.date, 'll') %></p>
  </div>
  <div>
    <a href="<%- url_for(post.path) %>" >
      <%- post.title %>
    </a>
  </div>
</div>
<% }) %>
