<h2>Contacts</h2>
<ul>
  <li>
    <a href="https://github.com/aabccd021">GitHub</a>
  </li>
  <li>
    <a href="mailto:aabccd021@gmail.com">Email</a>
  </li>
</ul>

<h2>Posts</h2>
<ul>
<% site.posts.sort('date', 'desc').forEach(function(post){ %>
<li>
  <a href="<%- url_for(post.path) %>" >
    <%- post.title %>
  </a>
</li>
<% }) %>
</ul>
