
<%
    var title = '';
    if (page.category) title = page.category;
    if (page.tag) title = page.tag;
    if (page.archive){
        if (page.year) title = page.year + (page.month ? '/' + page.month : '');
        else title = "Archives";
    }
%>
<% if(title) { %>
   <h3>Posts Related to — <%- title %></h3>
<% } %>
<% page.posts.each(function(item){ %>

  <article>
    <div>

      <div>
        <p><%- full_date(item.date, 'll') %></p>
      </div>
      <div>
        <a href="<%- url_for(item.path) %>">
          <% if (item.title == "") { %>
            no title
          <% } else { %>
            <%- item.title %>
          <% } %>
        </a>
      </div>
    </div>
  </article>

<% }); %>
